ul {
    display: flex;
    flex-flow: column;
    margin: 40px auto;
    padding: 0px 0;
    width:60%;
    list-style: none;
    justify-content: center;
    border: 1px solid gray;
    gap: 10px;
    border-radius: 5px;
}


li {
    width: 100px;
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0; /* For visibility */
}